:root {
  --base: #266f6b;
  --base-light: #1cddcd;
  --base-lighter: #00ffea;
  --base-dark: #284844;
  --base-darker: #012623;

  --text: azure;
  --text-light: #b6ffff;

  --octo-img-size: 200px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

h2 {
  cursor: pointer;
  margin-top: 0;
}

.logo {
  font-size: 2rem;
  white-space: nowrap;
}

.logo b {
  color: var(--base);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin-top: 2vh;
}

.layout {
  display: grid;
  grid:
    "sidebar main" 1fr
    / 1fr 9fr;
  height: 100vh;
}

.grid-sidebar {
  grid-area: sidebar;
  background-color: var(--text);
  opacity: 0.6;
  padding: 1em;
}
.grid-main {
  grid-area: main;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.section.menu a {
  text-decoration: none;
  color: var(--base);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.5em;
  /* transition: all 0.3s ease-in-out; */
  transition: transform 0.3s ease;
}

.section.menu a:hover {
  transform: translateX(10px);
}

.grow1 {
  flex-grow: 1;
}

aside .section {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1em;
}

aside .header,
aside .menu {
  justify-content: flex-start;
}

aside .networks {
  justify-content: center;
}

.svg-icon {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.svg-icon:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.linkedin {
  background-image: url("../img/linkedin.svg");
}

.github {
  background-image: url("../img/github.svg");
}

.cv {
  background-image: url("../img/filetype-doc.svg");
}

.arrow-down {
  background-image: url("../img/chevron-down.svg");
}

main section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 80vh;
  padding: 0 1em;
  color: var(--text);
  justify-content: space-around;
}

main > hr {
  margin: 0;
}

section#index {
  background: linear-gradient(180deg, var(--base-light) 20%, var(--base) 100%);
  align-items: center;
}

#index footer {
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  gap: 0;
  transition: opacity 0.5s ease;
}

.octo-wrap {
  position: absolute;
}

.entrada1 {
  animation: entrada 1s ease-in-out;
}

.entrada2 {
  animation: entrada 1.5s ease-in-out;
}

.entrada3 {
  animation: entrada 2s ease-in-out;
}

.octo {
  width: var(--octo-img-size);
  height: var(--octo-img-size);
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#index footer a {
  width: 2rem;
  height: 2rem;
  animation: subirBajar 0.8s ease-in-out infinite alternate;
}

section#about {
  background: linear-gradient( 10deg, var(--base-light) 5%, var(--base) 25%, var(--base-darker) 45%, var(--base) 85% );
  padding: 0 3em;
}

section#about h2 {
  display: flex;
  justify-content: center;
}

section#skills {
  background: linear-gradient(90deg, var(--base-light) 20%, var(--base) 100%);
  gap: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section#exp {
  background: linear-gradient( 345deg, var(--base-darker) 50%, var(--base-dark) 64%, var(--base) 70%, var(--base-light) 95% );
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

section#contact {
  background: linear-gradient(180deg, var(--base-darker) 20%, var(--base) 100%);
}

.my-card {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  z-index: -40;
  transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}

.atropos img {
  object-fit: cover;
}

.atropos-inner {
  height: 50vh;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translateZ(0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-card .tittle {
  margin: 0;
  flex-grow: 1;
}

.my-card .profile {
  border-radius: 50%;
  padding: 0.1rem;
  border: 3rem solid var(--text);
  z-index: -10;
  flex-grow: 1;
}

.my-card .short-desc {
  align-self: center;
  flex-grow: 2;
}


.my-card .tittle b {
  color: var(--base);
}

.my-card .tittle span {
  color: var(--text-light);
}

.card-img {
  width: 30%;
}

#about > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#about .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: large;
  width: 60%;
}

#about .images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
  position: relative;
  filter: drop-shadow(0px 0px 8px var(--text));
}

#about .images .octo-wrap:nth-child(1) {
  left: calc(50% - (var(--octo-img-size) / 2));
  top: 0;
}

#about .images .octo-wrap:nth-child(2) {
  left: calc((50% - (var(--octo-img-size) / 2)) + (var(--octo-img-size) / 2));
  top: 150px;
}

#about .images .octo-wrap:nth-child(3) {
  left: calc(50% - (var(--octo-img-size) / 2));
  top: 300px;
}

#about q {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

#about sub {
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}

/* 
#about p {
  width: 70%;
} */

#about h2,
#about h3 {
  margin-bottom: 0;
}

#about article {
  padding: 0 2rem;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  height: 60vh;
}

#contact form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  padding: 0 2rem;
}

#contact form input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--text);
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
  padding: 0.5em;
  width: 100%;
}

#contact form input[type="text"]::placeholder {
  font-size: 1rem;
  color: var(--text-light);
}

#contact form input:focus {
  outline: none;
}

#contact form textarea {
  border: none;
  border-bottom: 1px solid var(--text);
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
  padding: 0.5em;
  resize: none;
  height: 5em;
  width: 100%;
}

#contact form textarea:focus {
  outline: none;
}

#contact form textarea::placeholder {
  font-size: 1.1rem;
  color: var(--text-light);
}

#contact form button {
  border: none;
  border-radius: 10px;
  background-color: var(--base);
  color: var(--text);
  font-size: 1rem;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#contact form button:hover {
  background-color: var(--base-light);
}

#contact form button:focus {
  outline: none;
}

#contact form input[type="submit"] {
  border: 1px solid var(--text);
  border-radius: 10px;
  background-color: var(--base);
  color: var(--text);
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 30%;
}

#contact form input[type="submit"]:hover {
  background-color: var(--base-light);
}

textarea::-webkit-scrollbar {
  width: 0.4em; /* Ancho del scroll vertical */
  height: auto; /* Altura del scroll horizontal (opcional) */
}

/* Estilo del pulgar del scroll */
textarea::-webkit-scrollbar-thumb {
  background-color: var(--text-light); /* Color de fondo del pulgar */
  border-radius: 6px; /* Radio de borde del pulgar */
}

#exp img {
  width: 450px;
  height: 300px;
  border-radius: 6px;
}

#skills .skill-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#skills .skill {
  background-color: var(--base);
  border-radius: 10px;
  padding: 1rem;
}

.puntos-suspensivos::after {
  display: inline-block;
  animation: animacion-puntos-suspensivos 2s steps(3) infinite;
  content: ""; /* Inicialmente sin puntos suspensivos */
}

/*  */


@keyframes subirBajar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px); /* Cambia esto para ajustar la distancia */
  }
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animacion-puntos-suspensivos {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "...";
  }
}

@media (max-width: 768px) {
  /* Estilos para pantallas de X o menos */

  :root {
    --octo-img-size: 85px;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  /** MENU */
  .grid-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.6;
    padding: 0 1em;
    height: 8vh;
  }
  .grid-sidebar .menu {
    display: none;
  }
  .grid-sidebar .networks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  /** MAIN */
  #index {
    padding: 0;
    align-items: normal !important;
  }
  .my-card .tittle {
    padding: 0 2rem;
    font-size: 2rem;
  }
  .my-card .short-desc {
    padding: 0 1rem;
    font-size: 1.2rem;
    align-self: center;
  }
  .profile {
    border: 0.4rem solid var(--text) !important;
  }
  .atropos-inner {
    width: 100vw;
    border-radius: 0;
  }
  #index .tittle {
    font-size: 2.8rem;
  }
  /** ABOUT */
  section#about {
    padding: 0 0.5em;
  }
  #about h2 {
    margin: 0;
  }
  #about br {
    display: none;
  }
  #about .text {
    width: 75%;
    font-size: small;
  }
  #about article {
    padding: 0;
  }
  #about .images {
    width: 25%;
    height: calc(var(--octo-img-size) * 3);
  }
  #about .images .octo-wrap:nth-child(1) {
    left: calc(50% - (var(--octo-img-size) / 2));
    top: 0;
  }
  #about .images .octo-wrap:nth-child(2) {
    left: calc((50% - (var(--octo-img-size) / 2)) + (var(--octo-img-size) / 2));
    top: calc(var(--octo-img-size) - (var(--octo-img-size) / 4));
  }

  #about .images .octo-wrap:nth-child(3) {
    left: calc(50% - (var(--octo-img-size) / 2));
    top: calc(var(--octo-img-size) * 2 - (var(--octo-img-size) / 2));
  }
  #about .text {
    padding-right: 1rem;
  }
  /** EXP */
  #exp {
    padding: 0;
  }
  #exp img {
    width: 100%;
    height: auto;
  }
  /** SKILLS */
  /** CONTACT */
  #contact form {
    padding: 0;
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas de X o menos */

  :root {
    --octo-img-size: 100px;
  }
  .my-card .tittle {
    width: 65%;
    padding: 0 2rem;
    font-size: 4rem;
  }
  .my-card .short-desc {
    width: 65%;
    display: flex;
    padding: 0 2rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  /* Estilos para pantallas de X o más */

  .my-card .tittle {
    padding: 0 2rem;
    font-size: 5rem;
  }
  .my-card .short-desc {
    width: 65%;
    display: flex;
    padding: 0 2rem;
    font-size: 1.5rem;
  }
}
